---
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Galactic Genius</title>
  </head>
  <body>
    <h1>Welcome to Galactic Genius</h1>
    <p>Your decentralized meme arena awaits!</p>
  </body>
</html>